.listItems {
  display: flex;
}

.listItemText {
  width: 89%;
}

.listButton {
  height: 56px;
  width: 10%;
}

.removeIcon {
  padding-left: 10px;
}

.citiesList {
  margin-top: 20px;
}

.clearButtonDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
}
